:root{
    --spanish-bistre: hsla(53, 70%, 29%, 1);
    --olive: hsla(54, 81%, 33%, 1);
    --bistre-brown: hsla(46, 77%, 29%, 1);
    --red: hsla(0, 100%, 50%, 1);
    --orange-peel: hsla(36, 88%, 51%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --jonquil: hsla(47, 93%, 53%, 1);

    --c-kiwi-verde: #e8faf0;
    --c-kiwi-rosa: #ffdbd6;
    --c-kiwi-azul: #ddf2ff;
    --c-very-pink: #ebebff;
    --c-honey: #fff3e3;
}

/* General */
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.img{
    width: 100%;
    height: 100%;
}
/* ---------- */

body{
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background: var(--black);
}
body::-webkit-scrollbar-thumb{
    background: var(--bistre-brown);
}


html{
    overflow-x: hidden;
    position: relative;
}


/* SECTION 1 */
/* --------- NAVBAR ----------- */

.navbar{
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;
    margin-top: 1rem;
}
.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 40px;

}
.menu-items .item{
    color: #eee;
    text-decoration: none;
    font-size:  20px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: all .5s;

}
.item:hover{
    color: var(--orange-peel);
    filter: drop-shadow(8px 8px 4px var(--bistre-brown))

}
.menu-items .fix{
    margin-right: 2rem;
}
.logo{
    transition: .5s all;
    margin-left: 4rem;
    margin-right: 4rem;
    -webkit-filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);
}
.logo:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: drop-shadow(8px 8px 3px var(--bistre-brown));
}
.logo img{
    max-width: 140px;
    min-width: 100%;
    height: auto;
}
/* Mobile */
.menu-bar{
    display: none;
}
.menu-bar .bar{
    font-size: 30px;
    color: #eee;
}
.logo-bar{
    display: none;
    margin-left: 0rem;
    margin-right: 0rem;
}
.menu-toggle-bar{
    display: none;
}
.menu-toggle-bar .item{
    color: #eee;
    font-size: 18px;
}

/* ------- */



/* SECTION 2 */
/* ------- CARRUSEL ----------- */



.content-carrusel{
    position: relative;
    top: 0;
    z-index: -9;
    width: 100%;
    height: 850px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
/* --------------------------------- */
    backface-visibility: hidden;
    animation: slidebg 20s linear infinite 1s;
    animation-timing-function: ease-in-out;
    background-image: url(/public/img/slider1min.jpg);
}
@keyframes slidebg {
    0% {
        background-image: url(/public/img/slider1min.jpg);
    }
    25% {
        background-image: url(/public/img/slider2.jpg);
    }
    50% {
        background-image: url(/public/img/slider3.jpg);
    }
    75% {
        background-image: url(/public/img/slider4.jpg);
    }
} 
.content-carrusel{
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(20, 42.5px);

}
.content-carrusel .text{
    grid-column: 7/20;
    grid-row: 14;
    text-align: center;
    color: #eee;
    filter: drop-shadow(8px 8px 4px var(--bistre-brown));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.text .tittle{
    font-size: calc(15px + 2.5vw);
    font-weight: 700;
    margin-bottom: -1rem;
}
.text .sub-tittle{
    font-size: calc(13px + 1.5vw);
    font-weight: 400;
}
.text .sub{
    margin-top: -1.5rem;
    font-size: calc(13px + 1.5vw);
    font-weight: 500;
    color: var(--jonquil);
    filter: drop-shadow(9px 9px 5px var(--bistre-brown));
}




/* SECTION 3 */
/* ---------- MAIN-CONTENT ------------- */



.main-content{
    width: 100%;
    height: auto;
    position: relative;
    background: #000;
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content::before{
    content: '';
    top: 0;right: 0;bottom: 0;left: 0;
    position: absolute;
    background: url(/public/img/slider5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: .4;
    z-index: -9;
}

.main-text{
    color: #eee;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
}
.main-text .tittle{
    font-size: calc(15px + 1.5vw);
    font-weight: 700;
    color: var(--jonquil);
}
.main-text .sub-tittle{
    font-size: calc(14px + .5vw);
    line-height: 30px;
}



/* SECTION 4 */

/* ------- INFO - IMG --------- */



.info-content{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.info-content::before{
    content: '';
    top: 0;left: 0;right: 0;bottom: 0;
    position: absolute;
    background: #000;
    opacity: 1;
    z-index: -9;
}

.info-content .image img{
    width: 100%;
    height: auto;
}



/* SECTION 5 */
/* ---------- SERVICES ------------ */



.servicios{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 50px;
    position: relative;
    z-index: 9;
}

.box-services{
    grid-column: 1/20;
    grid-row: 2;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, 350px);

}

.box{
    width: 350px;
    height: 400px;
    background: rgb(0, 0, 0, .7);
    position: relative;
    transition: .5s all;
    border-radius: .5rem;
    overflow: hidden;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;

}
.box .text{
    text-align: center;
    font-size: 14px;
    padding: 2.5rem;
}


/* BEFORE ELEMENT */
.bar::before,
.piscina::before,
.mariscos::before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -9;
    opacity: 1;
}

.servicios .bar::before{
    background: url(/public/img/bar.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    
    background-size: cover;
}
.mariscos::before{
    background: url(/public/img/mariscos-min.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.piscina::before{
    background: url(/public/img/piscina.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.box:hover{
    background: rgb(0, 0, 0, 0);
    cursor: pointer;
    color: rgb(0, 0, 0, 0);
}
/* -------------- */

/* -------------------------------------- */

.services{
    grid-row: 4;
    grid-column: 10;
}

.text-services{
    text-align: center;
}
.text-services h1{
    font-size: 35px;
}
.text-services p{
    font-size: 20px;
    font-weight: 500;
    margin-left: 20rem;
    margin-right: 20rem;
}


/* ----------- */

.tiny img{
    width: 100px;
    height: auto;
}

.tiny-services{
    margin-top: 5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 400px);
    /* pasar a 350 mobile */

}

.tiny{
    width: 350px;
    height: 200px;
    border-radius: .5rem;
}
.blue{
    background: var(--c-kiwi-azul);
}
.pink{
    background: var(--c-kiwi-rosa);
}
.green{
    background: var(--c-kiwi-verde);
}
.very{
    background: var(--c-very-pink);
}
.honey{
    background: var(--c-honey);
}

.tiny img{
    transition: .5s all;
}
.tiny img:hover{
    transform: scale(1.05);
    filter: drop-shadow(4px 4px 4px);
    cursor: pointer;
}



/* SECTION 6 */
/* ------   HABITACIONES    -------- */

/* .habitaciones{
    height: 1100px;
    width: 100%;
    background: rgb(168, 83, 83);
    position: relative;
} */








/* SECTION 7 */
/* ------   TARIFAS    -------- */



.tarifas{
    width: 100%;
    height: 900px;
    display: grid;
    align-items: center;
    position: relative;
}

.text-tarifa{   
    margin-top: 5rem;
    position: relative;
    text-align: center;
}
.sub-tarifa{
    grid-row: 5;
    text-align: center;
}

.rooms{
    grid-row: 10;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 300px); 
}

.room{
    text-align: center;
    width: 300px;
    height: 300px;
    background: var(--c-kiwi-azul);
} 