:root{
    --spanish-bistre: hsla(53, 70%, 29%, 1);
    --olive: hsla(54, 81%, 33%, 1);
    --bistre-brown: hsla(46, 77%, 29%, 1);
    --red: hsla(0, 100%, 50%, 1);
    --orange-peel: hsla(36, 88%, 51%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --jonquil: hsla(47, 93%, 53%, 1);
}

/* General */
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.img{
    width: 100%;
    height: 100%;
}
/* ---------- */

body{
    font-family: 'Open Sans', sans-serif;
}

html{
    overflow-x: hidden;
    position: relative;
}


/* SECTION 1 */
/* --------- NAVBAR ----------- */

.navbar{
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;
    margin-top: 1rem;
}
.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 40px;

}
.menu-items .item{
    color: #eee;
    text-decoration: none;
    font-size:  20px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: all .5s;
}
.item:hover{
    color: var(--orange-peel);
    filter: drop-shadow(8px 8px 4px var(--bistre-brown))

}
.menu-items .fix{
    margin-right: 2rem;
}
.logo{
    transition: .5s all;
    margin-left: 4rem;
    margin-right: 4rem;
    -webkit-filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);

}
.logo:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: drop-shadow(8px 8px 3px var(--bistre-brown));
}
.logo img{
    max-width: 140px;
    min-width: 100%;
    height: auto;
}
/* Mobile */
.menu-bar{
    display: none;
}
.menu-bar .bar{
    font-size: 30px;
    color: #eee;
}
.logo-bar{
    display: none;
    margin-left: 0rem;
    margin-right: 0rem;
}
.menu-toggle-bar{
    display: none;
}
.menu-toggle-bar .item{
    color: #eee;
    font-size: 18px;
}

/* ------- */



/* SECTION 2 */
/* ------- CARRUSEL ----------- */



.content-carrusel{
    position: relative;
    top: 0;
    z-index: -9;
    width: 100%;
    height: 850px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
/* --------------------------------- */
    backface-visibility: hidden;
    animation: slidebg 20s linear infinite 1s;
    animation-timing-function: ease-in-out;
    background-image: url(/public/img/slider\ \(1\)-min.jpg);
}
@keyframes slidebg {
    0% {
        background-image: url(/public/img/slider\ \(1\)-min.jpg);
    }
    25% {
        background-image: url(/public/img/slider\ \(2\)-min.jpg);
    }
    50% {
        background-image: url(/public/img/slider\ \(3\)-min.jpg);
    }
    75% {
        background-image: url(/public/img/slider\ \(5\)-min.jpg);
    }
} 
.content-carrusel{
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(20, 42.5px);

}
.text{
    grid-column: 7/20;
    grid-row: 14;
    text-align: center;
    color: #eee;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.text .tittle{
    font-size: calc(15px + 2.5vw);
    font-weight: 700;
    margin-bottom: -1rem;
}
.text .sub-tittle{
    font-size: calc(13px + 1.5vw);
    font-weight: 400;
}
.text .sub{
    margin-top: -1.5rem;
    font-size: calc(13px + 1.5vw);
    font-weight: 500;
    color: var(--jonquil);
    filter: drop-shadow(9px 9px 5px var(--bistre-brown));
}




/* SECTION 3 */
/* ---------- MAIN-CONTENT ------------- */



.main-content{
    width: 100%;
    height: auto;
    position: absolute;
    background: #000;
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content::before{
    content: '';
    top: 0;right: 0;bottom: 0;left: 0;
    position: absolute;
    background: url(/public/img/slider\ \(5\)-min.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: .4;
    z-index: -9;
}

.main-text{
    color: #eee;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

.main-text .tittle{
    font-size: calc(15px + 1.5vw);
    font-weight: 700;
    color: var(--jonquil);
}
.main-text .sub-tittle{
    font-size: calc(14px + .5vw);
    line-height: 30px;
}




/* SECTION 4 */

/* ------- INFO - IMG --------- */



.info-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content .image img{
    width: 100%;
    height: auto;
}
