@media screen and (max-width: 1050px) {
    .menu-items{
        display: none;
    }
    .menu-bar{
        display: block;
        margin-right: 1.5rem;
    }
    .logo-bar{
        display: block;
        margin-left: 1.5rem;
    }
    .logo img{
        max-width: 115px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (max-width: 400px) {
    .logo img{
        max-width: 100px;
    }
    .menu-bar{
        display: block;
        margin-right: .5rem;
    }
    .logo-bar{
        display: block;
        margin-left: .5rem;
    }
}