
@media screen and (max-width: 750px) {
    .services{
        grid-row: 3;
        grid-column: 12;
        width: calc(200px + 1.5vw);
    }
}
@media screen and (max-width: 550px) {
    .services{
        grid-row: 3;
        grid-column: 13;
        width: calc(200px + 1.5vw);
    }
}
@media screen and (max-width: 475px) {
    .services{
        grid-row: 3;
        grid-column: 13;
        width: calc(200px + 1.5vw);
    }
}


@media screen and (max-width: 400px) {
    .box-services{
        grid-template-columns: repeat(auto-fit, 250px);
    }
    .box{
        width: 250px;
    }
    .services{
        grid-row: 4;
        grid-column: 12;
    }
    .services{
        grid-row: 4;
        grid-column: 14;
        width: calc(200px + 1.5vw);
    }
}

@media screen and (max-width: 375px) {
    .services{
        grid-row: 4;
        grid-column: 15;
        width: calc(200px + 1.5vw);
    }
}

@media screen and (max-width: 280px) {
    .services{
        grid-row: 4;
        grid-column: 19;
        width: calc(200px + 2vw);
    }
}

@media screen and (max-width: 250px) {
    .services{
        grid-row: 4;
        grid-column: 19;
        width: calc(190px + 2vw);
    }
}