@media screen and (max-width: 1100px) {
    .services{
        grid-row: 4;
        grid-column: 10;
    }
    .text-services p{
        margin-left: 0rem;
        margin-right: 0rem;
    }

    /* -------- */

    .tiny-services{
        grid-template-columns: repeat(auto-fit, 340px);
    }
    .tiny{
        width: 340px;
    }
}

@media screen and (max-width: 750px) {
    .services{
        grid-row: 4;
        grid-column: 10;
    }
}

@media screen and (max-width: 400px) {
    .box-services{
        grid-template-columns: repeat(auto-fit, 250px);
    }
    .box{
        width: 250px;
    }
    .services{
        grid-row: 4;
        grid-column: 10;
    }
    .tiny-services{
        grid-template-columns: repeat(auto-fit, 320px);
    }
    .tiny{
        width: 320px;
    }
}

@media screen and (max-width: 350px) {
    .box-services{
        grid-template-columns: repeat(auto-fit, 230px);
    }
    .box{
        width: 230px;
    }
}